<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirmação - recuperação de senha</title>
</head>
<body>
   <section>
     <h2>Recuperação de senha</h2>
     <p>Esse é um e-mail de confirmação para a redefinição de senha. </p>
     <p>Por favor, clique no link abaixo para redefinir sua senha. <a href="">Clique aqui</a> </p>
     <br>
     <div>
       <img src="images/spring.png" data-th-src="|cid:springLogo|" height="80"/>
     </div>
     <br>
   </section>
<section>
  <p>Caso tenha alguma dúvida ou se quiser mais informações, entre em contato com o nosso suporte: <b>velhacentraluni@gmail.com</b></p>
</section>

</body>
</html>